<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>118441803703-eo47bhfdovpoovhv3mmej4vta5f5bkvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118441803703-eo47bhfdovpoovhv3mmej4vta5f5bkvf</string>
	<key>API_KEY</key>
	<string>AIzaSyBaJKhU1vsfNc2JZsCMNYlncR2hl6ef3Qc</string>
	<key>GCM_SENDER_ID</key>
	<string>118441803703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lipdroid.TrackerApp</string>
	<key>PROJECT_ID</key>
	<string>trackerapp-f742a</string>
	<key>STORAGE_BUCKET</key>
	<string>trackerapp-f742a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:118441803703:ios:f5e98a02792596dd</string>
	<key>DATABASE_URL</key>
	<string>https://trackerapp-f742a.firebaseio.com</string>
</dict>
</plist>